.env
.env*
.venv
.venv*
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
.idea/
*.mypy_cache/
*.pytest_cache/
dist/
build/
.coverage
htmlcov/
instance/
.DS_Store
*.egg-info/*.zip
*.zipo
llm/data/*
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
